altair==5.2.0
annotated-types==0.6.0
blinker==1.7.0
bump-pydantic==0.8.0
cachetools==5.3.2
click==8.1.7
distro==1.9.0
gitdb==4.0.11
GitPython==3.1.42
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
importlib-metadata==7.0.1
importlib-resources==6.1.1
libcst==1.1.0
lxml==5.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.12.0
pandas==2.2.0
pillow==10.2.0
protobuf==4.25.3
pyarrow==15.0.0
pydantic==2.6.1
pydantic-settings==2.2.0
pydantic_core==2.16.2
pydeck==0.8.1b0
PyPDF2==3.0.1
python-docx==1.1.0
python-dotenv==1.0.1
python-pptx==0.6.23
rich==13.7.0
smmap==5.0.1
streamlit==1.31.1
streamlit-pydantic==0.6.0
tenacity==8.2.3
toml==0.10.2
toolz==0.12.1
tqdm==4.66.1
typer==0.9.0
typing-inspect==0.9.0
tzdata==2024.1
tzlocal==5.2
validators==0.22.0
webencodings==0.5.1
XlsxWriter==3.1.9
zipp==3.17.0
